/* - Version 0 - */


.material-bar,.navbar.navbar-inverse{
	background:#dfd509;
	background: #ff3019;
	background: -moz-linear-gradient(top, #dfd509 0%, #dfd509 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfd509), color-stop(100%,#dfd509));
	background: -webkit-linear-gradient(top, #dfd509 0%,#dfd509 100%);
	background: -o-linear-gradient(top, #dfd509 0%,#dfd509 100%);
	background: linear-gradient(to bottom, #dfd509 0%,#dfd509 100%);
	color:#ffffff;
}
.material-bar .navbar-item{
	color:#ffffff;
}