.newItemForm.hidde{
	bottom:-100% !important;	
	top:-120% !important;	
	-webkit-transition:all 0.5s;
}
.newItemForm{
	position:fixed;
	bottom:105px;
	left:15px;
	top:15px;
	right:5px;
	background:#fff;
	border-radius:5px;
	padding:20px 30px;
	-webkit-transition:all 0.5s;
	box-shadow:0px 0px 10px #000;
}

h5{
	color:inherit !important;
}

body *{
	text-transform:uppercase;
}
.form-control{
	border:1px solid #999 !important;
	text-indent:11px;
}
