/* - Version 0 - */


.material-bar,.navbar.navbar-inverse{
	background:orange;
	background: #ff3019;
	background: -moz-linear-gradient(top, orange 0%, orange 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,orange), color-stop(100%,orange));
	background: -webkit-linear-gradient(top, orange 0%,orange 100%);
	background: -o-linear-gradient(top, orange 0%,orange 100%);
	background: linear-gradient(to bottom, orange 0%,orange 100%);
	color:white;
}
.material-bar .navbar-item{
	color:white;
}