/* - Version 0 - */


.material-bar,.navbar.navbar-inverse{
	background:#ffff00;
	background: #ff3019;
	background: -moz-linear-gradient(top, #ffff00 0%, #ffff00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff00), color-stop(100%,#ffff00));
	background: -webkit-linear-gradient(top, #ffff00 0%,#ffff00 100%);
	background: -o-linear-gradient(top, #ffff00 0%,#ffff00 100%);
	background: linear-gradient(to bottom, #ffff00 0%,#ffff00 100%);
	color:#ffffff;
}
.material-bar .navbar-item{
	color:#ffffff;
}